@import "~bootstrap/scss/bootstrap.scss";

.productContainer {
  @extend .clearfix;
}

.imageContainer {
  float: left;
  width: 100px;
  height: 130px;
}

.descriptionContainer {
  float: left;
  width: 170px;
  padding-left: 5px;
}

.priceContainer {
  text-align: right;
  width: 100%;
  font-weight: bold;
}

.name {
  @extend .text-capitalize, .font-weight-bold;
}

.attributeList {
  @extend .row;
}

.attributeTerm {
  @extend .col-sm-3;
  color: gray;
  font-weight: lighter;
  font-size: smaller;
}

.attributeDefinition {
  @extend .col-sm-9;
  margin-bottom: 0px;
  font-size: smaller;
}

.seperator {
  margin-top: 0px;
}
