@import "~bootstrap/scss/bootstrap.scss";

.image-container {
  float: left;
  width: 100px;
  height: 130px;
}

.description-container {
  float: left;
  width: 450px;
  height: 130px;
}

.price-container {
  float: left;
  text-align: right;
}
