@import "~bootstrap/scss/bootstrap.scss";

.container {
  @extend .shadow-sm, .mb-5, .bg-white, .rounded;
  width: 400px;
  height: 200px;
}

.image-container {
  float: left;
  width: 100px;
  height: 130px;
}

.description-container {
  float: left;
  width: 450px;
  height: 130px;
}

.price-container {
  float: left;
  text-align: right;
}
