@import "~bootstrap/scss/bootstrap.scss";

.container {
  @extend .shadow-sm, .bg-white, .rounded;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  right: 10px;
  bottom: 30px;
  width: 400px;
  max-height: 500px;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.buttonContainer {
  margin-left: 10px;
  margin-right: 10px;
}
